@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99E2D0;

$degrade: linear-gradient(-15deg, $color-primaire, $color-secondaire);

body{
    margin: 0;
    
    
}
a{
    text-decoration: none;
}
header{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
        @media screen and (min-width: 992px){
            margin-top: 2%;
            margin-bottom: 2%;
            }
        img{
            height:100%;
            width: 180px;
                @media screen and (min-width: 768px){
                    width: 250px;
                }
                
        }
}

.layout-accueil{
    width: 100%;
    text-align: center;
    background-color: #f5f5f5;
    padding-bottom: 15%;
        @media screen and (min-width: 992px){
            padding-bottom: 5%;
        }
    h2{
        text-align: center;
        width: 275px;
        padding-top: 8%;
        margin: auto;
        font-size: 28px;
            @media screen and (min-width: 768px){
                font-size: 38px;
                width: 400px;
            }
            @media screen and (min-width: 992px){
                font-size: 40px;
                width: 750px;
                padding-top: 5%;
            }
    }
    p{
        font-weight: 300;
        font-size: 19px;
            @media screen and (min-width: 768px){
                font-size: 24px;
            }
            @media screen and (min-width: 992px){
                font-size: 24px;
            }
    }
}

.localisation-paris{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color:#e2e2e2;
    border-top: solid 2px rgb(190, 190, 190);
        p{
            padding-left: 20px;
            font-weight: 510;
        }
        .fa-map-marker-alt{
            font-size: 20px;
        }
}


.button-classique{
    opacity: 1;
    background: linear-gradient(-15deg, $color-primaire, $color-secondaire);
    border-radius: 50px;
    height: 50px;
    width: 240px;
    margin: auto;
    margin-top: 7%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.60);
        &:hover{
            opacity: 0.8;
            border-radius: 50px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.90);
            
        }
        @media screen and (min-width: 768px){
            height: 70px;
            width: 360px;
        }
        
        p{
            padding-top: 12px;
            color: white;
            font-weight: 400;
                @media screen and (min-width: 768px){
                padding-top: 17px;
                font-size: 26px;
                }
                
        }
}

.fonct{
    margin-bottom: 15%;
        @media screen and (min-width: 992px){
            margin-top: 5%;
            margin-bottom: 7%;
            padding-left: 2%;
            padding-right: 2%;
        }
    h2{
        padding-left: 5%;
        margin-top: 10%;
            @media screen and (min-width: 768px){
                font-size: 32px;
            }
            @media screen and (min-width: 992px){
                margin-top: 5%;
                font-size: 36px;
            }
    }
    &-sans-titre{
        @media screen and (min-width: 992px){
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
        }
    }
    &__button{
        display: flex;
        margin: auto;
        margin-left: 7%;
        align-items: center;
        margin-bottom: 7%;
            @media screen and (min-width: 992px){
                margin-left: 0;
            }
        a{
            width: 100%;
        }
        
            &__in{
                display: flex;
                align-items: center;
                border-radius: 25px;
                background-color: #f5f5f5;
                width: 90%;
                height: 70px;
                box-shadow: 0 0 11px #0000003d;
                    &:hover{
                        background-color: rgba(147, 86, 220, 0.15);
                            .fa-mobile-alt, .fa-list-ul, .fa-store{
                                color: $color-primaire;
                            }
                    &:active{
                        
                        background-color: #f5f5f583;
                        box-shadow: 0 0 11px #00000065;
                    }
                    }
                    @media screen and (min-width: 768px){
                        height: 85px;
                    }
                    @media screen and (min-width: 992px){
                        width: 100%;
                        padding-right: 15px;
                        
                    }
                
            }
                p{
                    color: black;
                    font-weight: 500;
                    font-size: 18px;
                        @media screen and (min-width: 768px){
                            font-size: 21px;
                        }
                        @media screen and (min-width: 992px){
                            width: 100%;
                            text-align: center;
                        }
                }
                .fa-mobile-alt, .fa-list-ul, .fa-store{
                    color: rgb(126, 126, 126);
                    padding-left: 30px;
                    padding-right: 30px;
                    width: 17px;
                    text-align: center;
                        @media screen and (min-width: 768px){
                            padding-left: 55px;
                            padding-right: 60px;
                            font-size: 23px;
                        }
                        @media screen and (min-width: 992px){
                            padding-left: 50px;
                            padding-right: 20px;
                        }
                }
            &__numero{
                background-color:$color-primaire;
                height: 25px;
                width: 25px;
                border-radius: 100%;
                position: absolute;
                left: 4%;
                    @media screen and (min-width: 768px){
                        left: 5%;
                        height: 30px;
                        width: 30px;
                    }
                    @media screen and (min-width: 992px) {
                        position: relative;
                        left: 12px;

                    }
                    p{
                        color: white;
                        text-align: center;
                        margin: auto;
                        padding-top: 4px;
                        font-size: 15px;
                            @media screen and (min-width: 768px){
                                font-size: 20px;
                                padding-top: 4px;
                            }

                    }
            }    
    }
}

.restaurants{
    padding-top: 5%;
    background-color: #f5f5f5;
    padding-bottom: 10%;
        @media screen and (min-width: 992px){
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 0%;
    }
    &-sans-titre{
        @media screen and (min-width: 992px){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    }
    h2{
        margin-left: 5%;
            @media screen and (min-width: 768px){
                font-size: 32px;
            }
            @media screen and (min-width: 992px){
                font-size: 36px;
                padding-top: 5%;
            }
    }
    img{
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 180px;
        width: 100%;
        margin-bottom: 0;
            @media screen and (min-width: 768px){
                height: 220px;
            }
    }

    @keyframes coeur {
        0%{
            transform: scale(0.5);
            opacity: 0;
        }
        100%{
            transform: scale(1.1);
            opacity: 1;
        }
    }

    &__bloc{
        margin:auto;
        margin-bottom: 7%;
        background: white;
        border-radius: 15px;
        box-shadow: 0 0 11px #0000003d;
        margin-left: 5%;
        margin-right: 5%;
            &:hover{
                box-shadow: 0 0 15px #0000007e;
            }
        .fa-heart{ 
            font-size: 25px;
            color: black;
                @media screen and (min-width: 768px){
                    font-size: 32px;
                }
        }
        &__coeur{     
            &:hover{
                .fa-heart{
                    display: none;
                }
                > .plein{
                display: inline-block;
                animation: coeur 0.2s linear both;             
                }
            }
        }
        .plein{
            display: none;
            color: transparent;
            background: linear-gradient(to top, $color-primaire, $color-secondaire);;
            -webkit-background-clip: text; 
        }
        
        &__nouveau{
            position: absolute;
            right: 35px;
            margin-top: -180px;
                @media screen and (min-width: 768px){
                    right: 55px;
                    margin-top: -210px;
                }
                @media screen and (min-width: 992px){
                    right:7%;
                }
                
            p{  
                background-color: $color-tertiaire;
                width: 85px;
                height: 25px;
                text-align: center;
                padding-top: 8px;
                border-radius: 2px;
                color: #2eac8c;
                font-weight: bold;
                    @media screen and (min-width: 768px){
                        padding-top: 5px;
                        font-size: 20px;
                        width: 110px;
                    }
            }   
        }
        #palette-du-gout-nvx{
            @media screen and (min-width: 992px){
                position: absolute;
                right: 55%;
                
            }
        }
        &__txt-coeur{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 5%;
            padding-left: 3%;
            margin: 0;
            h3{
                margin-top: 7%;
                margin-bottom: 0;
                color: black;
                    @media screen and (min-width: 768px){
                        font-size: 24px;
                    }
            }
            p{
                margin-top: 5px;
                color: black;
                    @media screen and (min-width: 768px){
                        font-size: 20px;
                    }
            }
        }
    } 
}

footer{
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.829);
        @media screen and (min-width: 992px){
            padding-top: 4%;
        }
    img{
        padding-left: 5%;
        filter: invert(1) sepia(0) saturate(5) hue-rotate(0deg);
            @media screen and (min-width: 768px){
                font-size: 22px;
                height: 65px;
                width: 350px;
        }    
        @media screen and (min-width: 992px){
            padding-left: 0;
        }
    }
    .logo_footer{
        @media screen and (min-width: 992px){
            display: flex;
            justify-content: center;
            padding-bottom: 2%;
        }
    }
    p{
        color: white;
            @media screen and (min-width: 768px){
                font-size: 22px;
        }
    }
    li{
        list-style: none;
        a{
            display: flex;
            align-items: center;
            height: 30px;
                @media screen and (min-width: 768px){
                    height: 50px;
                }
            .fa-utensils, .fa-hands-helping{
                padding-right: 8px;
                width: 17px;
                color: white;
                    @media screen and (min-width: 768px){
                        width: 25px;
                    }
            }
        }
    }
    ul{
        padding-left: 5%;
        @media screen and (min-width: 992px){
            display: flex;
            justify-content: space-around;
            padding-left: 0;
        }
    }
}
                            /* LOADING SPINNER */ 

@keyframes anim-txt {
    0%{
        opacity: 0.1;   
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        
    }
}

@keyframes anim-bars-1 {
    0%{
        transform: translateY(-3000px);
        opacity: 1;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
       
    }
}
@keyframes anim-bars-2 {
    0%{
        transform: translateX(3000px);
        opacity: 1;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
        
    }
}
@keyframes anim-bars-3 {
    0%{
        transform: translateY(3000px);
        opacity: 1;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes anim-bars-4 {
    0%{
        transform: translateX(-3000px);
        opacity: 1;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes anim-container {
    0%{
        z-index: 999;
    }
    100%{
       z-index: 999;
    }
}

.container{
    position: fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:-5;
    animation: anim-container 2.4s linear;
   

    .load{
        position: absolute;
        top: 40%;
        left: 25%;
        width: 200px;
        height: 100px;
        margin: auto;
        @media screen and (min-width:768px) {
            left: 35%;
        }
        @media screen and (min-width:992px) {
            left: 43%;
        }
        &__txt{
            position: absolute;
            font-size: 19px;
            opacity: 0;
            top: 40%;
            left: 30%;
            font-style: italic;
            color: black;
            animation: anim-txt 0.9s alternate-reverse linear 3 running;
            @media screen and (min-width:768px) {
                font-size: 22px;
            }
        }
        &__bar{

        opacity: 1;
            &-1{
                position: absolute;
                left: 0;
                opacity: 0;
                height: 100px;
                width: 10px;
                background-color: $color-primaire;
                z-index: 4;
                animation: anim-bars-1 0.8s alternate-reverse ease 3 running;
                
            }
            &-2{
                position: absolute;
                opacity: 0;
                top: 0;
                height: 10px;
                width: 200px;
                background-color: $color-secondaire;
                z-index: 3;
                animation: anim-bars-2 0.8s alternate-reverse ease 3 running;
            }
            &-3{
                position: absolute;
                opacity: 0;
                right: 0;
                height: 100px;
                width: 10px;
                background-color: $color-primaire;
                z-index: 2;
                animation: anim-bars-3 0.8s alternate-reverse ease 3 running;
            }
            &-4{
                position: absolute;
                opacity: 0;
                bottom: 0;
                height: 10px;
                width: 200px;
                background-color: $color-secondaire;
                z-index: 1;
                animation: anim-bars-4 0.8s alternate-reverse ease 3 running;
            }
        }
    }
}
