@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");
h1 {
  font-family: 'Shrikhand', cursive;
}

a {
  text-decoration: none;
  color: black;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

header {
  margin-top: 2%;
}

header .header-bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2%;
}

header .header-bloc .logo-header {
  margin: auto;
  height: 100%;
  text-align: center;
  width: 180px;
}

header .header-bloc .logo-header img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  header .header-bloc .logo-header {
    width: 250px;
  }
}

header .header-bloc .fa-arrow-left {
  padding-left: 20px;
  font-size: 20px;
  color: black;
}

@media screen and (min-width: 768px) {
  header .header-bloc .fa-arrow-left {
    font-size: 27px;
    padding-left: 35px;
  }
}

.image_layout img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .image_layout img {
    height: 350px;
  }
}

@-webkit-keyframes coeur {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
}

@keyframes coeur {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
}

.menu-restaurants {
  padding-left: 5%;
  padding-right: 5%;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  position: relative;
  bottom: 70px;
  padding-bottom: 50px;
  margin-bottom: -70px;
  background-color: #f5f5f5;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .menu-restaurants {
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
  }
}

.menu-restaurants h2 {
  font-weight: 300;
  font-size: 18px;
  padding-left: 8px;
  padding-top: 5%;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .menu-restaurants h2 {
    font-size: 30px;
    padding-top: 0;
  }
}

.menu-restaurants h2::before {
  margin-top: 24px;
  content: '';
  width: 50px;
  height: 3px;
  background: #99e2d0;
  position: absolute;
  z-index: 20;
}

@media screen and (min-width: 768px) {
  .menu-restaurants h2::before {
    width: 85px;
    height: 5px;
    margin-top: 35px;
  }
}

.menu-restaurants__sans__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .menu-restaurants__sans__titre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .menu-restaurants__bloc {
    font-size: 22px;
    margin-bottom: 45px;
    font-size: 22px;
    margin-bottom: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 30%;
  }
}

.menu-restaurants__bloc__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .menu-restaurants__bloc__header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu-restaurants__bloc__header h1 {
  font-weight: 500;
  font-size: 26px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .menu-restaurants__bloc__header h1 {
    font-size: 36px;
    padding-left: 45px;
  }
}

.menu-restaurants__bloc__header__coeur:hover .fa-heart {
  display: none;
}

.menu-restaurants__bloc__header__coeur:hover > .plein {
  display: inline-block;
  -webkit-animation: coeur 0.2s linear both;
          animation: coeur 0.2s linear both;
}

.menu-restaurants__bloc__header .plein {
  display: none;
  color: transparent;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
}

.menu-restaurants__bloc__header .fa-heart {
  padding-left: 8%;
  font-size: 25px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-restaurants__bloc__header .fa-heart {
    padding-left: 0;
    font-size: 36px;
    padding-right: 45px;
  }
}

.menu-restaurants__bloc__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3% 10px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 5%;
  -webkit-box-shadow: 0 0 11px #0000003d;
          box-shadow: 0 0 11px #0000003d;
}

@media screen and (min-width: 768px) {
  .menu-restaurants__bloc__button {
    padding: 3% 20px;
  }
}

.menu-restaurants__bloc__button h3 {
  margin: 0px;
  font-weight: 600;
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .menu-restaurants__bloc__button h3 {
    font-size: 20px;
  }
}

.menu-restaurants__bloc__button p {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 14px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .menu-restaurants__bloc__button p {
    font-size: 17px;
  }
}

.menu-restaurants__bloc__button .prix p {
  padding-top: 20px;
  padding-right: 13px;
  font-weight: bolder;
}

@media screen and (min-width: 768px) {
  .menu-restaurants__bloc__button .prix p {
    font-size: 20px;
  }
}

.menu-restaurants__bloc__button__txt {
  width: 70%;
}

.button-classique {
  background: linear-gradient(-15deg, #9356DC, #FF79DA);
  border-radius: 50px;
  height: 50px;
  width: 200px;
  margin: auto;
  margin-top: 13%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.button-classique:hover {
  opacity: 0.8;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
}

@media screen and (min-width: 768px) {
  .button-classique {
    height: 70px;
    width: 240px;
  }
}

@media screen and (min-width: 992px) {
  .button-classique {
    margin-top: 0;
  }
}

.button-classique p {
  padding-top: 13px;
  color: white;
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .button-classique p {
    padding-top: 17px;
    font-size: 26px;
  }
}

footer {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgba(0, 0, 0, 0.829);
}

@media screen and (min-width: 992px) {
  footer {
    padding-top: 4%;
  }
}

footer img {
  padding-left: 5%;
  -webkit-filter: invert(1) sepia(0) saturate(5) hue-rotate(0deg);
          filter: invert(1) sepia(0) saturate(5) hue-rotate(0deg);
}

@media screen and (min-width: 768px) {
  footer img {
    font-size: 22px;
    height: 65px;
    width: 350px;
  }
}

@media screen and (min-width: 992px) {
  footer img {
    padding-left: 0;
  }
}

@media screen and (min-width: 992px) {
  footer .logo_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 2%;
  }
}

footer p {
  color: white;
}

@media screen and (min-width: 768px) {
  footer p {
    font-size: 22px;
  }
}

footer li {
  list-style: none;
}

footer li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}

@media screen and (min-width: 768px) {
  footer li a {
    height: 50px;
  }
}

footer li a .fa-utensils, footer li a .fa-hands-helping {
  padding-right: 8px;
  width: 17px;
  color: white;
}

@media screen and (min-width: 768px) {
  footer li a .fa-utensils, footer li a .fa-hands-helping {
    width: 25px;
  }
}

footer ul {
  padding-left: 5%;
}

@media screen and (min-width: 992px) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 0;
  }
}
/*# sourceMappingURL=menu.css.map */